<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">

	<!-- js -->
	<script src="/javascripts/jquery-2.2.0.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>

  </head>
  <body>
  	<nav class="navbar navbar-inverse">
  		<ul class="nav navbar-nav">
  			<li><a href="/">Home</a></li>
  			<li><a href="/martin">Martin</a></li>
  			<li><a href="/raymond">Raymond</a></li>
  			<li><a href="/grant">Grant</a></li>
  			<li><a href="/jeff">Jeff</a></li>
  			<li><a href="sandra">Sandra</a></li>
  		</ul>
  	</nav>