<% include partials/header.ejs %>
    <h1><%= title %></h1>
    <p>Grant is a 26 year old soldier with the Canadian Armed Forces. When he's not training on base, he enjoys watching sci-fi movies and training in the martial arts.</p>
  </body>
</html>
