<% include partials/header.ejs %>
    <h1><%= title %></h1>
    <p>Jeff is a project manager with over 25 years experience in IT strategy and management. A huge movie buff, Jeff will impress you with his encyclopedic knowlege of movie quotes and trivia.</p>
  </body>
</html>
