<% include partials/header.ejs %>
    <h1><%= title %></h1>
    <p>Martin is a 28 year old web developer. Originally from Scarborough, he now lives in Moonstone Ontario with his fiancee and 3 dogs. He enjoys talking politics, watching the Toronto Raptors and playing video games.</p>
  </body>
</html>
