<% include partials/header.ejs %>
    <h1><%= title %></h1>
    <p>Raymond is a 31 year old Pilot and Civil Technologist living in Winnipeg, Manitoba. When he's not running his company, he likes watching the Leafs and Jays.</p>
  </body>
</html>
