<% include partials/header.ejs %>
    <h1><%= title %></h1>
    <p>Sandra is the manager at a care centre for special needs children. She likes travelling and has been to over 20 countries.</p>
  </body>
</html>
